<div class="settings hide">
    <div class="setting__wrapper">
        <button class="btn settings__close">×</button>
        <div class="settings__block">
            <div class="settings__blockHeader">Pass generator settings</div>
            <app-password-settings></app-password-settings>
        </div>
        <div class="settings__block">
            <div class="settings__blockHeader">Tabs settings</div>
            <app-tabs-settings></app-tabs-settings>
        </div>
        <div class="settings__block">
            <div class="settings__blockHeader">Язык</div>
            <app-language-settings></app-language-settings>
        </div>
    </div>
</div>
