<div
    class="passCard"
    [formGroup]="passwordCard.form"
>
<div *ngFor="let a of test.numers">
    <div>{{a}}</div>
</div>
<div *ngFor="let a of test.strings">
    <div>{{a}}</div>
</div>


    <div class="passCard__order order">
        <div class="order__input">
            <app-custom-input
                [control]="passwordCard.form.controls.order"
                [label]="lng.labelOrder"
                [type]="'number'"
                [min]="0"
                [required]="true"
            ></app-custom-input>
        </div>
    </div>
    <div class="passCard__data data">
        <div class="data__item">
            <app-custom-input
                [control]="passwordCard.form.controls.resource"
                [label]="lng.labelResource"
                [styleClass]="'data__input'"
            ></app-custom-input>
            <button
                pButton
                class="p-button-sm p-button-outlined data__copy"
                icon="pi pi-clone"
                pTooltip="copy resource"
                (click)="CopyToClipboard()"
            ></button>
        </div>
        <div class="data__item">
            <app-custom-input
                [control]="passwordCard.form.controls.login"
                [label]="lng.labelLogin"
                [styleClass]="'data__input'"
            ></app-custom-input>
            <button
                pButton
                class="p-button-sm p-button-outlined data__copy"
                icon="pi pi-clone"
                pTooltip="copy login"
                (click)="CopyToClipboard()"
            ></button>
        </div>
        <div class="data__item">
            <app-custom-input
                [control]="passwordCard.form.controls.password"
                [label]="lng.labelPassword"
                [styleClass]="'data__input'"
            ></app-custom-input>
            <button
                pButton
                class="p-button-sm p-button-outlined data__copy"
                icon="pi pi-clone"
                [pTooltip]="lng.tooltipCopyToClipboard"
                (click)="CopyToClipboard()"
            ></button>
        </div>
    </div>
    <div class="passCard__controls controls">
        <button
            pButton
            class="p-button-sm p-button-outlined controls__btn"
            icon="pi pi-save"
            [pTooltip]="lng.tooltipSave"
            (click)="Save()"
        ></button>
        <button
            pButton
            class="p-button-sm p-button-outlined controls__btn"
            icon="pi pi-folder"
            [pTooltip]="lng.tooltipChangeTab"
            (click)="ChangeTab()"
        ></button>
        <button
            pButton
            class="p-button-sm p-button-outlined controls__btn"
            icon="pi pi-key"
            [pTooltip]="lng.tooltipGenerate"
            (click)="GeneratePassword()"
        ></button>
        <button
            pButton
            class="p-button-sm p-button-outlined controls__btn"
            icon="pi pi-eye"
            [pTooltip]="lng.tooltipShowPassword"
            (click)="ShowPassword()"
        ></button>
        <button
            pButton
            class="p-button-sm p-button-outlined controls__btn"
            icon="pi pi-trash"
            [pTooltip]="lng.tooltipDelete"
            (click)="DeleteCard()"
        ></button>
    </div>
</div>
