<div class="page" [ngClass]="theme" style="background-image: url(./assets/wallpapers/moon.jpeg)">
    <div class="header">
        <div class="header__search search">
            <div class="search__item">
                <label class="header__label">search resource</label>
                <input class="passInput" type="text" pInputText />
            </div>
            <div class="search__item">
                <label class="header__label">search login</label>
                <input class="passInput" type="text" pInputText />
            </div>
        </div>
        <div class="header__btns">
            <button pButton class="p-button-sm p-button-outlined header__btn" icon="pi pi-plus" pTooltip="add new password" (click)="changeTheme()"></button>
            <button pButton class="p-button-sm p-button-outlined header__btn hideDesctop" icon="pi pi-folder" pTooltip="tabs choise"></button>
            <button pButton class="p-button-sm p-button-outlined header__btn" icon="pi pi-cog" pTooltip="settings"></button>
        </div>
    </div>
    <div class="tabs">
        <button class="tabs__btn"><span class="pi pi-folder"></span> Tab's Name</button>
        <button class="tabs__btn"><span class="pi pi-folder"></span> Tab's Name 2</button>
    </div>
    {{observable | async}}
    <div class="passCardList customScroll">
        <app-password-card [setTest]="test"></app-password-card>
    </div>

    <app-settings></app-settings>
</div>
