/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Links */
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
ul, ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img, svg {
	max-width: 100%;
	height: auto;
}
address {
  font-style: normal;
}
/* Form */
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
	display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
legend {
	display: block;
}


/* Variables*/
:root .default{
    --mainColor: #025A6C;
    --secondColor: #0C4755;
    --mainFont: #fff;
}

:root .light{
    --mainColor: #fff;
    --secondColor: #ccc;
    --mainFont: #000;
}

/* Suka prime*/
.p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label {
    top: 0;
    background-color: var(--mainColor);
}

/* Main styles */
/**/
html {
}
.page {
    color: var(--mainFont);
    height: 100vh;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.header {
    margin-bottom: 10px;
}
.tabs {
    border-top: 2px solid #B5EAF5;
    margin-bottom: 20px;
}
.passInput {
    width: 100%;
    height: 20px;
    font-size: 0.875rem;
}
.search {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.search__item {
    width: 50%
}
.p-inputtext {
    background: var(--mainColor) !important;
    border: 1px solid #ddd;
}
.p-button.p-button-icon-only {
    width: 1rem !important;
    height: 1rem !important;
    padding: 10px;
}
.header__btns {
    display: flex;
    gap: 15px;
}
.tabs__btn {
    display: none;
}
.passCardList {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 117px);
    gap: 20px;
    justify-content: center;
    overflow-y: auto;
}
.customScroll::-webkit-scrollbar {
    width: 5px;
}
.customScroll::-webkit-scrollbar-track {
    background-color: var(--mainColor);
}
.customScroll::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(165 180 252);
}
.passCard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 420px;
    background-color: var(--mainColor);
    padding: 20px 20px 10px 10px;
    border-radius: 10px;
}
.passCard__order {
    width: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.passCard__data {
    width: calc(100% - 110px);
}
.data__item {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.data__label {
    min-width: 65px;
}
.header__label {
    margin-bottom: 5px;
    display: block;
}
.controls {
    display: flex;
    gap: 20px;
}
.settings {
    position: absolute;
    background: #fffdfd66;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 500;
    padding-top: 100px;
    overflow: hidden;
    overflow-y: auto;
}
.setting__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    background: #383838;
}
.settings__block {
    width: 100%;
    margin-bottom: 20px;
}
.settings__blockHeader {
    font-size: 1.125rem;
}
.settings__blockBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.settings__passLength {
    display: flex;
    align-items: center;
    gap: 10px;
}
.passLengthInput {
    width: 50px;
}
.tabsSettings {
    display: flex;
    gap: 10px;
}
.tabsSettings__tabsList {
    width: 100%;
}
.tabsList {
    padding: 10px;
    max-height: 250px;
    border: 1px solid #bbb;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
}
.tabsList__item {
    margin-bottom: 10px;
}
.p-button {
    height: 20px;
}
.language {
    flex-direction: row;
}
.settings__close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1376px) {
    .p-button {
        height: 32px;
    }
    .hideDesctop{
        display: none;
    }
    .header__search {
        width: 550px;
    }
    .header {
        display: flex;
        gap:  20px;
        align-items: center;
    }
    .passCard {
        max-width: 574px;
    }
    .passCardList {
        padding: 0 50px;
        gap: 30px;
        justify-content: flex-start;
    }
    .passInput {
        height: 30px;
    }
    .p-button.p-button-icon-only {
        width: 2rem !important;
        height: 2rem !important;
    }
    .controls {
        gap: 25px;
    }
    .tabs__btn {
        display: initial;
        background-color: var(--mainColor);
        padding: 5px 20px;
        border-radius: 0 0 5px 5px;
    }
    .tabs {
        display: flex;
        padding: 0 30px;
        gap: 15px;
    }
    .settings {
        justify-content: center; 
        align-items: center;
        padding-top: 0;
    }
    .setting__wrapper {
        width: 50%;
        height: 350px;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        gap: 20px;
    }
}




.hide {
    display: none;
}
.visibleHidden{
    width: 0;
    height: 0;
    visibility: hidden;
}
