/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Links */
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
ul, ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img, svg {
	max-width: 100%;
	height: auto;
}
address {
  font-style: normal;
}
/* Form */
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
	display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
label {
	cursor: pointer;
}
legend {
	display: block;
}

/* Main styles */
/**/
body {
    padding: 10px;
}
.header {
    margin-bottom: 10px;
}
.tabs {
    border-top: 2px solid #B5EAF5;
    margin-bottom: 20px;
}
.passInput {
    width: 100%;
    height: 25px;
}
.search {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.search__item {
    width: 50%
}
.p-inputtext {
    background: #0C4755 !important;
    border: 0;
}
.p-button.p-button-icon-only{
    width: 2rem !important;
    height: 2rem !important;
}

.header__btns {
    display: flex;
    gap: 15px;
}

.tabs__btn {
    display: none;
}

.passCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.passCard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    background-color: #025A6C;
    padding: 10px;
    border-radius: 10px;
}
.passCard__order {
    width: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.passCard__data {width: calc(100% - 50px);}

.data__item {
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
